# Classifier output:
code/images/tests/processed/*.jpg
code/classifiers/*/results/

# Default detections.dat file:
code/images/tests/detections.dat

# Classifier stages:
code/classifiers/stage*.xml
code/classifiers/params.xml

# IntelliJ:
.idea/

# Sublime:
*.sublime-workspace

# Build and CMake files:
build/
CMakeCache.txt
Makefile
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# LaTeX:
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.nav
*.snm
*.toc
*.synctex

# BibTeX:
*.bbl
*.blg

# Latexian:
TSWLatexianTemp_*

# Miscellaneous:
*.swp
*~
.DS_Store
